@using System.Collections.Generic;
@using Votr.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List < Poll> polls = new List<Poll>();
    polls.Add(new Poll {Title = "obama 2914", StartDate = DateTime.Now, EndDate = DateTime.Now });
    polls.Add(new Poll { Title = "obama 2914", StartDate = DateTime.Now, EndDate = DateTime.Now });
    polls.Add(new Poll { Title = "obama 2914", StartDate = DateTime.Now, EndDate = DateTime.Now });
}
<h1>Polls</h1>
@foreach (var item in polls)
{
    <div class="row red">
        <div class="col-md-8 green">
            @item.Title <br />
            
        </div>
        <div class="col-md-4">
            <button>View </button>

        </div>

    </div>

}


